body {
    background:  #55675e;
    font: normal 16px/1 "Trebuchet MS", Helvetica, sans-serif;
    position: relative;
    padding-bottom: 45px;
    margin: 0;
}
section.wrapper {
    width: 85%;
    max-width: 1024px;
    min-width: 750px;
    margin: 0 auto;
}
delimiter {
    padding: 0 5px;
}
.card {
    box-sizing: content-bo41x;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 4px;
    text-align: left;
    text-overflow: ellipsis;
}
header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 2px;
    box-shadow: 1px 0 20px 0 rgba(0,0,0,0.3);
    background-color: #489e73;
    overflow: hidden;
    height: 260px;
}
header, a, i {
    color: #fff;
}
.tab-projects a {
    color: #55675e;
}
.tab-projects i {
    color: #55675e;
    width: 20px;
    margin-right: 20px;
    font-size: 2em;
}
.tab-projects i:hover {
    text-shadow: 0 0 9px #489e73 ;
}
.personal-info {
    padding: 0 0 20px 20px;
}
.prev-job {
    opacity: 0.5;
}
header ul {
    list-style-type: none;
    padding-inline-start: 0;
}
.contact-info li {
    margin-bottom: 5px;
}
.contact-info i {
    width: 20px;
    margin-right: 5px;
}
.socmedia li {
    display: inline;
    font-size: 2em;
    margin-right: 10px;
}
.socmedia i:hover {
    text-shadow: 0 0 9px #fff ;
}
.tab-nav > input,
.tab-nav article > div {
    display: none;
}

#tab-edu:checked ~ article .tab-edu,
#tab-skills:checked ~ article .tab-skills,
#tab-projects:checked ~ article .tab-projects,
#tab-ba:checked ~ article .tab-ba,
#tab-feedback:checked ~ article .tab-feedback {
    display: block;
}
.tab-nav nav ul li{
    display: inline;
}
.tab-nav nav ul {
    padding-inline-start: 0px;
}
#tab-edu:checked ~ nav .tab-edu label,
#tab-skills:checked ~ nav .tab-skills label,
#tab-projects:checked ~ nav .tab-projects label,
#tab-ba:checked ~ nav .tab-ba label,
#tab-feedback:checked ~ nav .tab-feedback label {
  background: #f2f6f7;
  color: #716c6c;
  position: relative;
}
.tab-nav ul li label {
    box-sizing: content-box;
    position: relative;
    top: 0;
    float: left;
    padding: 15px 15px;
    text-align: center;
    text-transform: uppercase;
    text-overflow: clip;
    background: #507b66;
    color: #fff;
    cursor: pointer;
    margin-right: 5px;
    font-size: 14px;
}
.tab-nav ul li label:hover{
    background: #365445;
}
.tab-nav ul li label:active{
    background: #2f7955;
}
.tab-nav article > div {
    padding: 20px; 
    background: #f2f6f7;
    line-height: 1.5em;
    letter-spacing: 0.3px;
    color: #716c6c;
}
.tab-nav article {
    clear: both;
}
.grid {
    display: grid;
}
.grid-1-2 {
    grid-template-columns: 1fr 2fr; 
}
.grid-item {
  border-bottom: 1px solid #ccc;
  padding: 20px;
  font-size: 16px;
  text-align: left;
}
.tab-skills .checked {
    color: #ffa500;
}
.grid-1-2 .grid-item:nth-last-child(-n+2),
.grid-1-2-3 .grid-item:nth-last-child(-n+3)  {
    border-bottom: none;
}
.grid-1-2-3 {
    grid-template-columns: 1fr 2fr 3fr;
    grid-auto-rows: repeat(2, 1fr);
    font-size: 18px;
}
button {
    display: inline-block;
    box-sizing: content-box;
    position: relative;
    cursor: pointer;
    margin: 10px 0 0;
    padding: 22px 22px;
    border: 4px solid #fff;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-overflow: clip;
    background: #507b66;
    }
    
button:hover {
    background: #365445;
    }
    
button:active {
    background: #2f7955;
}

form input[type='text']{
    appearance:none;
    border: none;
    border-bottom: 1.5px solid #ccc;
    cursor: pointer;
    padding: 5px;
    display: block;
    position: relative;
    padding-left: 0.5em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    
    
}
.feedback-text {
    font-size: 16px;
    font-weight: 700;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}
.container input {
position: absolute;
opacity: 0;
}
.checkmark {
position: absolute;
top: 0;
left: 0;
height: 25px;
width: 25px;
background-color: #d4caca;
border-radius: 50%;
}
.container:hover input ~ .checkmark {
background-color: #ccc;
}
.container input:checked ~ .checkmark {
background-color: #507b66;
}
.checkmark:after {
content: "";
position: absolute;
display: none;
}
.container input:checked ~ .checkmark:after {
display: block;
}
.container .checkmark:after {
top: 9px;
left: 9px;
width: 8px;
height: 8px;
border-radius: 50%;
background: #fff;
}
.comment p::before {
    content: '*'
}
footer {
width: 100%;
height: 45px;
position: fixed;
bottom: 0;
font-size: 14px;
color: #ccc;
text-align: center;
background: #55675e;
}
